doctype html
head
    meta(charset='UTF-8')
    title hyperplanning - Elève
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/login.css')
.col-md-offset-2.col-md-8.well.well-lg.margin_top
    h2.te  Elève : #{value.User}
    .row
        .col-md-offset-5.col-md-2
            a(href='/disconnect')
                button.btn.btn-primary Déconnexion
    h2 Moyenne générale: #{value.Moy}
    h2 Liste des Notes :
    table.table.table-striped

        tbody
            each val in value.Notes
                thead
                    tr
                        th= val.Matiere
                        th Note
                        th Coef
                tbody
                    each note in val.Notes
                        tr
                            td
                            td= note.Note
                            td= note.Coef
                    td
                    td
                    th Moyenne: #{val.Moyenne} / 20
